$light-green: rgba(126, 213, 111, .8);
$dark-green: rgba(40, 180, 133, .8);
$color-white: #fff;
$color-grey: #777;
$color-black: #000;

@mixin button-hover {
  transform: translateY(-3px);
  box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  background-color: darken($color-white, 5%);
}

@mixin button-active {
  transform: translateY(-1px);
  box-shadow: 0 .3rem .7rem rgba($color-black, .3);
}

@mixin background-color($color) {
  background-color: $color;
}

@function divide($a, $b) {
  @return $a / $b
}
