@import './_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 1.6rem;*/
    line-height: 1.7;
    color: $color-grey;
    padding: 3rem;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
            to right bottom,
            $light-green,
            $dark-green), url(../images/hero.jpg);
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__logo:hover {
        animation: moveInRight 1s ease-out;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .heading-primary {
            color: $color-white;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: divide(12, 2) * 1px;

            &--main {
                display: block;
                font-size: 60px;
                font-weight: 400;
                letter-spacing: 3.5rem;
                animation-name: moveInLeft;
                animation-duration: .5s;
                animation-timing-function: ease-out;
            }

            &--sub {
                display: block;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: 1.74rem;
                animation: moveInRight .5s ease-out;
            }
        }
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }


    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

%btn-placeholder {
    display: inline-block;
    border-radius: 10rem;
}

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
        @extend %btn-placeholder;
    }

    &:hover {
        @include button-hover;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        @include button-active;
    }

    &--white {
        color: $color-grey;
        @include background-color($color-white);

        &::after {
            @include background-color($color-white);
        }
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .5s;
        @extend %btn-placeholder;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .25s;
        animation-fill-mode: backwards;
    }

}

















